#cloud-config
autoinstall:
  version: 1

  # NETWORK PART
  network:
    version: 2
    ethernets:
      eth0:
        dhcp4: false
        addresses:
          - {{ ipv4_address }}/{{ ipv4_netmask_prefix }}
        routes:
          - to: default
            via: {{ ipv4_gateway }}
        nameservers:
          addresses: [{{ ipv4_ns1 }}, {{ ipv4_ns2 }}]
  
  # SSH PART
  ssh:
    install-server: true
    allow-pw: true
    authorized-keys: []

  # APT PART
  packages: {{ needed_packages }}
  package_update: true
  package_upgrade: true
  package_reboot_if_required: true
  apt:
    disable_components: []
    geoip: true
    preserve_sources_list: false
    
    primary:
      - arches: [amd64, i386]
        uri: http://lt.archive.ubuntu.com/ubuntu
      - arches: [default]
        uri: http://security.ubuntu.com/ubuntu
    #sources_list: |
    #  deb $MIRROR $RELEASE main restricted
    #  deb $PRIMARY $RELEASE universe restricted
    #  deb $SECURITY $RELEASE-security multiverse

    conf: |
      APT {
        Get {
          Assume-Yes "false";
          Fix-Broken "false";
        };
      };
      
  # KERNEL PART
  kernel:
    package: {{ kernel }}

  # KEYBOARD PART
  keyboard:
    layout: {{ layout }}
    toggle: null
    variant: ''

  # LOCALE PART
  locale: {{ locale }}

  # USER PART
  user-data:
    runcmd: {% if add_hardening %}{{ runcmd_hardened }}{% else %} {{ runcmd }}{% endif %}

    timezone: {{ timezone }}
    hostname: {{ hostname }}
    users:
      - name: {{ username }}
        passwd: "{{ hashed_password }}"
        groups: sudo
        sudo: ['ALL=(ALL) NOPASSWD:ALL']
        lock_passwd: false
        shell: /bin/bash
        ssh-authorized-keys:
          - {{ ssh_key }}

  # STORAGE PART
  storage:
    config:
      ### Device config
      - {ptable: gpt, path: /dev/sda, wipe: superblock, preserve: false, name: '', grub_device: false, type: disk, id: disk-sda}
      ### Partition 1  /dev/sda1 /boot/efi 1127219200
      - {device: disk-sda, size: {{ boot_efi_size }}, wipe: superblock, flag: boot, number: 1, preserve: false, grub_device: true, type: partition, id: partition-0}
      - {fstype: fat32, volume: partition-0, preserve: false, type: format, id: format-0}
      - {path: /boot/efi, device: format-0, type: mount, id: mount-0}
      ### Partition 2 /dev/sda2 /boot 2147483648
      - {device: disk-sda, size: {{ boot_size }}, wipe: superblock, flag: '', number: 2, preserve: false, grub_device: false, type: partition, id: partition-1}
      - {fstype: ext4, volume: partition-1, preserve: false, type: format, id: format-1}
      - {path: /boot, device: format-1, type: mount, id: mount-1}
      ### Partition 3  133088411648
      - {device: disk-sda, size: {{ dev_sda3 }}, wipe: superblock, flag: '', number: 3, preserve: false, grub_device: false, type: partition, id: partition-2}
      ### VG create
      - {name: ubuntu-vg, devices: [partition-2], preserve: false, type: lvm_volgroup, id: lvm_volgroup-0}
      ### LV /root
      - {name: lv-root, volgroup: lvm_volgroup-0, size: {{ root_size }}, wipe: superblock, type: lvm_partition, id: lvm_partition-0}
      - {fstype: ext4, volume: lvm_partition-0, preserve: false, type: format, id: format-3}
      - {path: /, device: format-3, type: mount, id: mount-3}
      ### LV /home
      - {name: lv-home, volgroup: lvm_volgroup-0, size: {{ home_size }}, wipe: superblock, preserve: false, type: lvm_partition, id: lvm_partition-1}
      - {fstype: ext4, volume: lvm_partition-1, preserve: false, type: format, id: format-4}
      - {path: /home, device: format-4, type: mount, id: mount-4}
      ### LV /var
      - {name: lv-var, volgroup: lvm_volgroup-0, size: {{ var_size }}, wipe: superblock, preserve: false, type: lvm_partition, id: lvm_partition-2}
      - {fstype: ext4, volume: lvm_partition-2, preserve: false, type: format, id: format-5}
      - {path: /var, device: format-5, type: mount, id: mount-5, options: 'nodev,nosuid'}
      ### LV /var/log
      - {name: lv-var-log, volgroup: lvm_volgroup-0, size: {{ var_log_size }}, wipe: superblock, preserve: false, type: lvm_partition, id: lvm_partition-3}
      - {fstype: ext4, volume: lvm_partition-3, preserve: false, type: format, id: format-6}
      - {path: /var/log, device: format-6, type: mount, id: mount-6, options: 'nosuid,nodev,noexec'}
      ### LV /var/log/audit
      - {name: lv-var-log-audit, volgroup: lvm_volgroup-0, size: {{ var_log_audit_size }}, wipe: superblock, preserve: false, type: lvm_partition, id: lvm_partition-4}
      - {fstype: ext4, volume: lvm_partition-4, preserve: false, type: format, id: format-7}
      - {path: /var/log/audit, device: format-7, type: mount, id: mount-7, options: 'nosuid,nodev,noexec'}
      ### LV /var/tmp
      - {name: lv-var-tmp, volgroup: lvm_volgroup-0, size: {{ var_tmp_size }}, wipe: superblock, preserve: false, type: lvm_partition, id: lvm_partition-5}
      - {fstype: ext4, volume: lvm_partition-5, preserve: false, type: format, id: format-8}
      - {path: /var/tmp, device: format-8, type: mount, id: mount-8, options: 'nosuid,nodev,noexec'}
      ### LV /tmp
      - {name: lv-tmp, volgroup: lvm_volgroup-0, size: {{ tmp_size }}, wipe: superblock, preserve: false, type: lvm_partition, id: lvm_partition-6}
      - {fstype: ext4, volume: lvm_partition-6, preserve: false, type: format, id: format-9}
      - {path: /tmp, device: format-9, type: mount, id: mount-9, options: 'nosuid,nodev,noexec'}


      


#### NEED TO DO
# The noexec mount option specifies that the filesystem cannot contain executable binaries.
# The nosuid mount option specifies that the filesystem cannot contain setuid files
# The nodev mount option specifies that the filesystem cannot contain special devices
#
# 1. Add /var/ options nosuid,nodev,noexec
# 2. Separate /tmp and add options nosuid,nodev,noexec
# 3. Separate /var/tmp add options nosuid,nodev,noexec
# 4. Separate /var/log add options nosuid,nodev,noexec
# 5. Separate /var/log/audit add options nosuid,nodev,noexec
# 6. Separate /home add options nosuid,nodev (usrquota/grpquota for future builds with cpanel)
# 7. Add /dev/shm options nodev,noexec,nosuid,

        
    

















    
